In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor
from sklearn.datasets import make_regression
from sklearn.linear_model import  TheilSenRegressor, RANSACRegressor, HuberRegressor, PassiveAggressiveRegressor, SGDRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.svm import SVR, NuSVR
from sklearn.neighbors import KNeighborsRegressor
import xgboost as xgb
from catboost import CatBoostRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
df = pd.read_csv(
    r"D:\Study\VScode\KJ_SEM4\MP\Used-car-price-prediction\Used_cars_data.csv")
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Transmission_Manual,Fuel_Diesel,Fuel_LPG,Fuel_Petrol
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,1.0,26.60,998,58.16,5,1.75,1,0,0,0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1.0,19.67,1582,126.20,5,12.50,1,1,0,0
2,2,Honda Jazz V,Chennai,2011,46000,1.0,18.20,1199,88.70,5,4.50,1,0,0,1
3,3,Maruti Ertiga VDI,Chennai,2012,87000,1.0,20.77,1248,88.76,7,6.00,1,1,0,0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,2.0,15.20,1968,140.80,5,17.74,0,1,0,0

In [ ]:
X = df[['Year','Kilometers_Driven','Mileage','Engine','Power','Seats','Transmission_Manual','Fuel_Diesel','Fuel_LPG','Fuel_Petrol']]
Y = df['Price']
x_train, x_test,y_train,y_test = train_test_split(X,Y,test_size =0.2,random_state=42)
def reg_func(model):
       model.fit(x_train,y_train)
       y_pred=model.predict(x_test)
       score=mean_squared_error(y_test,y_pred)
       print('Mean Squared Error: '+str(score))
import numpy as np

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame)
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.int32)
clean_dataset(X)

C:\Users\Apeksha\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Transmission_Manual,Fuel_Diesel,Fuel_LPG,Fuel_Petrol
0,2010,72000,26,998,58,5,1,0,0,0
1,2015,41000,19,1582,126,5,1,1,0,0
2,2011,46000,18,1199,88,5,1,0,0,1
3,2012,87000,20,1248,88,7,1,1,0,0
4,2013,40670,15,1968,140,5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
5867,2014,27365,28,1248,74,5,1,1,0,0
5868,2015,100000,24,1120,71,5,1,1,0,0
5869,2012,55000,14,2498,112,8,1,1,0,0
5870,2013,46000,18,998,67,5,1,0,0,1
5871,2011,47000,25,936,57,5,1,1,0,0

In [ ]:
model= RandomForestRegressor(n_estimators = 200, random_state = 0)
reg_func(model)

: